@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    overflow: hidden;
}
body{
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family:'Bebas Neue', cursive; 
    font-size: 3rem;
}
.overlay{
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    clip-path: circle(100px at 50% 50%);
    clip-path: circle(100px at var(--x,50%) var(--y,50%));
    transition: clip-path 300ms;
}

.overlay.open{
    clip-path:circle(200% at 100% 100%);
    transition: clip-path 2s;
    transition-timing-function: cubic-bezier(1,-0.01,0.01,.99);
}
span{
    width: 60px;
    height: 60px;
    background-color: black;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}
span svg{
    fill: white;
    margin: 1rem;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.3;
  }



